body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.text-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(161, 226, 237, 0.6); /* Semi-transparent black */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(5px); /* Blurred background */
}

header{
    text-align: center;
    font: bold 30px 'Montserrat', san-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Drop shadow */
    font-size: 2.5rem; 
    line-height: 1.2; /* 120% of the font-size */
    /* 30px */
    font-weight: bold;
    margin: 0;
}

p{
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Drop shadow */
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    font: bold 16px 'Roboto', san-serif;
}

body {
    background-image: url("background/forestbackdrop.jpg");
    background-size: 1400px 850px;
}

.image-button {
    background-image: url('your-image-url.png'); /* Replace with your image path */
    background-size: cover; /* Ensure the image covers the button */
    background-repeat: no-repeat; /* Prevent repeating */
    background-color: transparent;
    border: none; /* Remove default border */
    cursor: pointer; /* Add pointer cursor */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
  
  .image-button:hover {
    opacity: 0.8; /* Optional hover effect */
    transition: opacity 0.3s ease; /* Optional transition effect */
    box-shadow: 200px 200px 300px rgb(242, 242, 67);

  }
  
#pond{
    /* left: -280px;
    bottom: 369px;
    position: absolute;
    scale: .81;
    width: 5%;    
    height: 0px; */

    scale: .588;
    position: absolute;
    left: -125px;
    bottom: -80px;
    background-color: transparent;

}

#tent{
    position:absolute;
    right: 365px;
    bottom: 341px;
    /* scale: 1.2; */
    width: 200px;    
    height: 35px;
}